.indoor-13 {
  align-items: flex-start;
  background-color: var(--periglacial-blue);
  display: flex;
  height: 1441px;
  overflow: hidden;
  width: 428px;
}

.flex-col-39 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: -41px;
  margin-top: 58px;
  min-height: 1379px;
  width: 469px;
}

.flex-col-40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 46.0px;
  min-height: 136px;
  width: 365px;
}

.flex-row-38 {
  align-items: center;
  display: flex;
  min-width: 365px;
}

.discovery-3 {
  letter-spacing: 0;
  margin-top: 4.0px;
  min-height: 42px;
  min-width: 150px;
}

.ellipse-1-5 {
  height: 68px;
  margin-left: 151px;
  object-fit: cover;
  width: 64px;
}

.overlap-group7-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 9px;
  display: flex;
  height: 50px;
  margin-left: 2px;
  margin-top: 18px;
  min-width: 360px;
  padding: 12px 10px;
}

.text-14-1 {
  align-self: center;
  height: 18px;
  letter-spacing: 0;
  min-width: 296px;
}

.vector-20 {
  height: 24px;
  margin-left: 15px;
  width: 24px;
}

.flex-row-39 {
  align-items: flex-end;
  display: flex;
  margin-left: 49.0px;
  margin-top: 20px;
  min-width: 352px;
}

.for-you-3 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 22px;
  min-width: 69px;
}

.indoor-14 {
  letter-spacing: 0;
  margin-left: 38px;
  min-height: 22px;
  min-width: 59px;
}

.overlap-group10-3 {
  height: 24px;
  margin-left: 34px;
  position: relative;
  width: 76px;
}

.outdoor-14 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
}

.text-15 {
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.pots-4 {
  letter-spacing: 0;
  margin-left: 35px;
  min-height: 22px;
  min-width: 41px;
}

.ellipse-2-3 {
  background-color: var(--black);
  border-radius: 3px;
  height: 6px;
  margin-right: 35.0px;
  margin-top: 2px;
  width: 6px;
}

.group-container-6 {
  height: 578px;
  margin-left: 35.0px;
  margin-top: 48px;
  position: relative;
  width: 350px;
}

.overlap-group-18 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 271px;
  padding: 21px 7px;
  position: absolute;
  top: 307px;
  width: 150px;
}

.pexels-huy-phan-ovebg-preview-1-1 {
  height: 134px;
  margin-left: 5.0px;
  width: 105px;
}

.flex-row-40 {
  align-items: flex-start;
  display: flex;
  height: 85px;
  margin-right: 10.0px;
  margin-top: 10px;
  min-width: 126px;
}

.flex-col-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: 87px;
}

.monstera-4,
.begonia-1 {
  letter-spacing: 0;
  min-height: 22px;
}

.indoor-15 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 2px;
  min-height: 18px;
}

.price-28 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 20px;
  min-height: 18px;
}

.biarrow-right-circle-22 {
  align-self: flex-end;
  height: 24px;
  margin-left: 15px;
  width: 24px;
}

.overlap-group1-11 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  left: 212px;
  min-height: 271px;
  padding: 30px 1.0px;
  position: absolute;
  top: 307px;
  width: 134px;
}

.image-removebg-preview-7-1-1 {
  height: 129px;
  object-fit: cover;
  width: 132px;
}

.agave-1 {
  letter-spacing: 0;
  margin-left: 5.14px;
  margin-top: 8px;
  min-height: 22px;
  width: 61px;
}

.indoor-16 {
  letter-spacing: 0;
  margin-left: 5.14px;
  margin-top: 3px;
  min-height: 18px;
  width: 49px;
}

.overlap-group4-6 {
  height: 551px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 334px;
}

.rectangle-3 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  height: 259px;
  left: 200px;
  position: absolute;
  top: 0;
  width: 134px;
}

.image-removebg-preview-1-1-2 {
  height: 136px;
  left: 216px;
  position: absolute;
  top: 20px;
  width: 91px;
}

.aloe-vera-7 {
  left: 206px;
  letter-spacing: 0;
  position: absolute;
  top: 160px;
  width: 94px;
}

.indoor-17 {
  left: 206px;
  letter-spacing: 0;
  position: absolute;
  top: 183px;
  width: 49px;
}

.price-29 {
  left: 207px;
  letter-spacing: 0;
  position: absolute;
  top: 226px;
  width: 23px;
}

.group-27-1 {
  align-items: flex-start;
  display: flex;
  height: 551px;
  left: 0;
  min-width: 246px;
  position: absolute;
  top: 0;
}

.overlap-group-19 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  min-height: 259px;
  padding: 20px 0;
  width: 135px;
}

.image-4-1 {
  height: 116px;
  margin-left: 4px;
  margin-top: 10px;
  object-fit: cover;
  width: 127px;
}

.venus-fly-trap-1 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 11px;
  min-height: 42px;
  width: 127px;
}

.indoor-18 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 1px;
  min-height: 17px;
  width: 50px;
}

.price-30 {
  letter-spacing: 0;
  margin-left: 4px;
  margin-top: 5px;
  min-height: 17px;
  width: 24px;
}

.price-31 {
  align-self: flex-end;
  letter-spacing: 0;
  margin-left: 79px;
  min-height: 17px;
  width: 24px;
}

.group-31 {
  height: 24px;
  left: 106px;
  position: absolute;
  top: 219px;
  width: 24px;
}

.group-32 {
  height: 24px;
  left: 305px;
  position: absolute;
  top: 222px;
  width: 24px;
}

.group-33 {
  height: 24px;
  left: 315px;
  position: absolute;
  top: 540px;
  width: 24px;
}

.flex-row-41 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  margin-top: 76px;
  min-width: 447px;
}

.biarrow-right-circle-23 {
  height: 24px;
  margin-bottom: 23px;
  width: 24px;
}

.overlap-group2-9 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 53px;
  min-height: 271px;
  padding: 14px 0;
  width: 147px;
}

.image-removebg-preview-8-1-1 {
  height: 141px;
  margin-left: 6.0px;
  object-fit: cover;
  width: 141px;
}

.flex-row-42 {
  align-items: flex-start;
  display: flex;
  height: 83px;
  margin-right: 8.0px;
  margin-top: 10px;
  min-width: 129px;
}

.flex-col-42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: 75px;
}

.indoor-12 {
  letter-spacing: 0;
  margin-top: 2px;
  min-height: 18px;
}

.biarrow-right-circle-24 {
  align-self: flex-end;
  height: 24px;
  margin-left: 30px;
  width: 24px;
}

.overlap-group3-8 {
  height: 271px;
  margin-left: 66px;
  position: relative;
  width: 151px;
}

.rectangle-5 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  height: 271px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

.indoor-19 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 189px;
}

.marble-pothos-1 {
  left: 7px;
  letter-spacing: 0;
  position: absolute;
  top: 165px;
}

.price-32 {
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  top: 227px;
}

.biarrow-right-circle-25 {
  height: 24px;
  left: 109px;
  position: absolute;
  top: 226px;
  width: 24px;
}

.image-3-1 {
  height: 148px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 148px;
}

.overlap-group-20 {
  align-items: flex-start;
  background-color: var(--como);
  border-radius: 89px;
  display: flex;
  margin-left: 59.0px;
  margin-top: 63px;
  min-width: 190px;
  padding: 0 21px;
}

.show-more-plants-1 {
  height: 33px;
  letter-spacing: 0;
  width: 148px;
}

.overlap-group6-6 {
  align-self: flex-end;
  height: 78px;
  margin-top: 44px;
  position: relative;
  width: 428px;
}

.rectangle-10-3 {
  background-color: var(--como);
  border-radius: 9px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 428px;
}

.group-34 {
  height: 24px;
  left: 386px;
  position: absolute;
  top: 35px;
  width: 24px;
}

.group-35 {
  height: 24px;
  left: 300px;
  position: absolute;
  top: 35px;
  width: 24px;
}

.ellipse-4-3 {
  background-color: var(--white);
  border-radius: 26px/25px;
  height: 50px;
  left: 185px;
  position: absolute;
  top: 0;
  width: 52px;
}

.vector-21 {
  height: 11px;
  left: 215px;
  position: absolute;
  top: 30px;
  width: 10px;
}

.vector-22 {
  height: 11px;
  left: 215px;
  position: absolute;
  top: 9px;
  width: 10px;
}

.vector-23 {
  height: 11px;
  left: 197px;
  position: absolute;
  top: 30px;
  width: 9px;
}

.vector-24 {
  height: 11px;
  left: 197px;
  position: absolute;
  top: 9px;
  width: 9px;
}

.rectangle-11-4 {
  background-color: var(--mist-gray-3);
  border-radius: 9px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 82px;
}

.place-6 {
  left: 24px;
  letter-spacing: 0;
  position: absolute;
  top: 62px;
}

.cart-3 {
  left: 301px;
  letter-spacing: 0;
  position: absolute;
  top: 62px;
}

.account-3 {
  left: 375px;
  letter-spacing: 0;
  position: absolute;
  top: 62px;
}

.leaf-logo-3 {
  height: 26px;
  left: 106px;
  position: absolute;
  top: 34px;
  width: 26px;
}

.my-garden-3 {
  left: 94px;
  letter-spacing: 0;
  position: absolute;
  top: 62px;
}

.fluenthome-20-filled-3 {
  height: 27px;
  left: 29px;
  position: absolute;
  top: 34px;
  width: 24px;
}

.biarrow-right-circle-26 {
  height: 24px;
  margin-left: 98px;
  margin-top: 522px;
  width: 24px;
}

.overlap-group5-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 56px;
  margin-top: 298px;
  min-height: 271px;
  padding: 17px 5px;
  width: 147px;
}

.image-removebg-preview-2-2 {
  align-self: center;
  height: 137px;
  object-fit: cover;
  width: 103px;
}

.aloe-vera-8 {
  letter-spacing: 0;
  margin-top: 11px;
  min-height: 22px;
}

.flex-row-43 {
  align-items: center;
  display: flex;
  margin-left: 1px;
  margin-top: 17px;
  min-width: 128px;
}

.price-33 {
  letter-spacing: 0;
  min-height: 18px;
  min-width: 23px;
}

.biarrow-right-circle-27 {
  height: 24px;
  margin-left: 81px;
  width: 24px;
}

.overlap-group9-4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 298px;
  min-height: 271px;
  padding: 21px 7px;
  width: 150px;
}

.pexels-huy-phan-ovebg-preview-2-3 {
  align-self: center;
  height: 134px;
  margin-left: 5.0px;
  width: 105px;
}

.monstera-5 {
  letter-spacing: 0;
  margin-top: 10px;
  min-height: 22px;
}

.flex-row-44 {
  align-items: flex-start;
  display: flex;
  height: 59px;
  margin-top: 2px;
  min-width: 106px;
}

.flex-col-43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  width: 48px;
}

.indoor-20 {
  letter-spacing: 0;
  min-height: 18px;
}

.biarrow-right-circle-28 {
  align-self: flex-end;
  height: 24px;
  margin-left: 34px;
  width: 24px;
}

